body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  width: auto;
  background-color: rgb(197, 213, 243);
}
h1 {
  color: hsl(179, 62%, 43%);
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
#intro {
  color: hsl(71, 73%, 54%);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 3px;
}
.grey {
  color: hsl(198, 12%, 79%);
  line-height: 25px;
}
strong {
  font-size: 36px;
  margin-top: 10px;
}
input {
  width: 250px;
  background-color: hsl(71, 73%, 54%);
  border-color: hsl(71, 73%, 54%);
  cursor: pointer;
  color: white;
  border-radius: 10px;
  height: 50px;
  margin-top: 14px;
  font-weight: 700;
  font-family: "karla", sans-serif;
  font-size: 16px;
}
/* Si on passe avec la souris sur le bouton la couleur change */

input:hover {
  background-color: hsl(89, 77%, 54%);
  border-color: hsl(89, 77%, 54%);
}
ul {
  list-style-type: none;
}
li {
  line-height: 22px;
  opacity: 0.8;
}
em {
  opacity: 0.6;
  margin-left: 15px;
  margin-top: 10px;
  font-style: normal;
  position: absolute;
}
#title {
  padding-left: 40px;
  margin-bottom: 8px;
}
#text {
  padding-left: 40px;
  margin-bottom: 30px;
}
/* Utilisation de la méthode flexbox et flexwrap */

.container {
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
}
.bloc1 {
  display: flex;
  flex-direction: column;
  width: 650px;
  background-color: white;
  padding-left: 40px;
  padding-top: 40px;
  height: 200px;
  line-height: 20px;
  text-align: justify;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bloc2 {
  display: flex;
  flex-direction: column;
  background-color: hsl(179, 62%, 43%);
  color: white;
  width: 325px;
  height: 250px;
  padding-top: 40px;
  border-bottom-left-radius: 10px;
}
.bloc3 {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 196, 223);
  color: white;
  width: 325px;
  height: 250px;
  padding-top: 40px;
  border-bottom-right-radius: 10px;
}
/* Quand la taille de l'écran passe en dessous de 800px la présentation change */

/* Utilisation du responsive design pour adapter la forme du document à
la taille de l'écran */

@media (min-width: 0px) and (max-width: 800px) {
  body {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  .container {
    width: 360px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .bloc1 {
    display: flex;
    width: 360px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    word-wrap: break-word;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
  }
  .bloc2 {
    display: flex;
    width: 360px;
    justify-content: center;
    border-bottom-left-radius: 0;
    padding-top: 20px;
    height: 255px;
  }
  .bloc3 {
    display: flex;
    width: 360px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 20px;
    height: 255px;
  }
  .grey {
    line-height: 30px;
  }
  #text {
    padding-left: 30px;
  }
  #intro {
    margin-bottom: 0px;
  }
  br {
    display: none;
  }
  input {
    width: 90%;
  }
  h1 {
    font-size: 25px;
  }
  #title {
    padding-left: 30px;
  }
  ul {
    padding-left: 30px;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
}
